<!DOCTYPE html>
<html>
<head>
  <title>StaticAddress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="../../assets/stylesheets/normalize.css" />
	<link rel="stylesheet" href="../../assets/stylesheets/foundation.min.css" />
	<link rel="stylesheet" href="../../assets/stylesheets/application.css" />
	<script src="../../assets/javascripts/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<%= yield %>


	<script src="../../assets/javascripts/jquery.js"></script>
	<script src="../../assets/javascripts/fastclick.js"></script>
	<script src="../../assets/javascripts/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>
