<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div class="row container">
    	<div class="small-centered small-12 medium-9 medium-centered large-12 large-centered column centered corps2">
		  <h1>STATIC_ADDRESS</h1>
		</div>
	</div>

	
</body>
</html>
