/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5 {
	text-align: center;
}
.post-header-posts {
	text-align: left;
}
#posts-wrapper {
	border: 1px solid black;
	margin-bottom: 15px;
	background-color: white;
	border: 70px;
}
.post {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: auto;
	padding: 10px;
	a {
		color: #403239 !important
	}
}

//BE CAREFUL!!!
#posts-inner-wrapper {
	background-color: lightgrey;
	margin: 40px;
	border: 1px solid black;
	box-shadow: 40px;
}
//BE CAREFUL!!!
#post-inner-wrapper {
	background-color: lightgrey;
	margin: 20px;
	border: 1px solid black;
	box-shadow: 40px;
	padding: 20px;
}
#posts-row{
	margin: inherit;
}
#media-row {
	width: 100%;
	max-height: 200px;
}
.top-bar section {
	margin: 0
}
#media-player-div{
	border-left: 1px solid #000;
	height:200px
}
#show-post-title{
	display: inline
}
.disclaimer {
	font-size: 9px;
	border-top: 15px;
	text-align: center;
}